*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f0f7f7;
}


.content{
    padding: 1rem;
    height: 100vh;
    background-color: #f0f7f7;
}

.content h1{
    margin: 0;
}

.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    margin: .5rem;
    padding: 1.8rem 1rem;
    color: #f0f7f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemons .detail img{
    height: 70px;
    max-width: 100%;
    align-self: flex-end;
}

.pokemons .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .number{
    text-align: right;
}

.pokemon .name{
    margin: .25rem;
}

.pokemons .types{
    padding: 0;
    margin: 0;
    list-style: none;
}


@media screen and (min-width: 640px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 980px){
    .content{
        max-width: 62rem;
        margin: 0 auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}